.App {
    padding: 20px
}

.App header {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    gap: 10px
}

.App .ReactTable .rt-td,
.App .ReactTable .rt-th {
    align-self: center
}

.App .ReactTable .rt-td input,
.App .ReactTable .rt-th select {
    width: 100%;
    border: 0;
    font-size: 16px;
    background: transparent
}

.App .ReactTable .rt-td div[contenteditable=true] {
    background-color: #0000;
    border-bottom: 1px solid #ccc;
    width: 100%;
    outline: none;
    overflow: hidden
}

.App a.btn {
    font-size: 13px;
    text-decoration: none
}

.App .btn {
    cursor: pointer;
    border: 1px solid #eee;
    padding: 5px 12px;
    transition: all 200ms;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 5px;  
    width: 100%;
    max-width: 80px
}

.App .btn.primary {
    background-color: #0074D9;
    color: #ffffff
}

.App .btn.save, .btn.add {
    background-color: #2ECC40
}

.App .btn.edit {
    background-color: #FF851B
}

.App .btn.remove, .btn.cancel  {
    background-color: #FF4136
}

.App .btn:hover {
    text-shadow: none;
    color: #555555;
    background-color: #ececec;
    border: 1px solid #c5c5c5
}

.App footer {
    margin-top: 10px
}

.App .hidden {
    display: none
}
